<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" href="style.css" />


<!-- <form>
  <label><input type="radio" name="mode" value="size" > Size</label>
  <label><input type="radio" name="mode" value="count" checked> Count</label>
</form>
 -->
 <h1>Haiti Earthquake: Summary of Damages and Losses</h1>
<div id = "vis1">Environment & disaster risk management</div>
<div id = "vis2">Social sectors</div>
<div id = "vis3">Infrastructure</div>
<div id = "vis4">Production sectors</div>

<script src="d3.min.js"></script>
<script src = "environment.js"></script>
<script src="socialSector.js"></script>
<script src = "infrastructure.js"></script>
<script src = "productionSector.js"></script>
