
#vis1{
    width:300px;
    margin:auto;
    height:500px;
}

#vis2{
    width:300px;
    margin: auto;
    height: 500px;
    left: 300px;
}

#vis3{
    width:300px;
    margin: auto;
    height: 500px;
    left: 600px;
}

#vis4{
    width:300px;
    margin: auto;
    height: 500px;
    left: 900px;
}
