<!DOCTYPE html>
<meta charset="utf-8">




<html>

<head>
  <title>Earth</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
 
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

  <style>
/*
#mainContainer {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: absolute;
  top:600px;
  width: 1100px;
}*/

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*form {
  position: absolute;
  right: 5%;
  top: 500px;
}*/

.q0-8{fill:#aaaadd}
.q1-8{fill:#9595bf}
.q2-8{fill:#8080a2}
.q3-8{fill:#6a6a84}
.q4-8{fill:#555566}

/*#selectMenu{
  position: absolute;
  left: 10%;
  top:480px;
}*/

/*#title{
  position:absolute;
  top:450px;
  left:10%;
  margin-top:5px;
  font-family: sans-serif;
  font-weight: 2px;
  font-size:20px;
  height: 40px;
}*/

/*#word2{
  position:absolute;
  top:1100px;
}*/
/*body{
  padding-left:10px;
  padding-right:10px;
}*/
/*#picLeft{
  float:left;
  width:45%;
}
#wordRight{
  float:left;
  width: 45%;
}*/
img{
  float:left;
  width:400px;
  padding: 40px;
}
</style>
</head>
<body>

<!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="index.html">The Final Element</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="main.html">Main</a></li>
                      <li><a href="fire.html">Fire</a></li>
                      <li><a href="water.html">Water</a></li>
                      <li><a href="earth.html">Earth</a></li>
                      <li><a href="human.html">Human</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>
<!-- Main -->
<article id="main">
            <section class="wrapper style5">
              <div class="inner">
  <h2>Haiti Earthquake in 2010</h2>
<div class="row">
<div id="words">

  <h2>Facts</h2>
  <p>Time: 16:53 local time on Tuesday, 12 Jan 2010<br>Catastrophic magnitude: 7.0 M <br> Epicenter: town of Leogane, 25 km west of Port-au-Prince, Haiti’s capital <br>Death toll: 100,000 - 160,000<br></p>
  <h2>Building damage</h2>
  <p>Due to the high magnitude as well as frequent aftershocks, Haiti 2010 earthquake caused huge damage to buildings and landmarks in the region. According to the International Business Times, the earthquake destroyed about “70 percent of the building in the 15 districts of the country’s capital city Port-au-Prince”. Regions that got hit by the earthquake also had poor construction practices and high population density, which worsened the casualty and destruction conditions. </p>
  <h2>Background</h2>
  <p>The Government of Haiti, with technical support and facilitation provided by the United Nations (UN), the Inter-American Development Bank (IADB), the World Bank (WB) and the European Commission (EC), led the Post Disaster Needs Assessment (PDNA) in the region and assessed the damage of buildings in the earthquake affected area. It was conducted by comparing pre-earthquake satellite imagery to post-earthquake aerial photos. </p>
</div>
</div>

<div id="visContainer">  

  <h2>Total Number of damaged houses grouped in EMS-98 Damage classes
  and dominant land use class </h2>
<!--   <form>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form> -->


<section>
   <div class="row uniform">
  <div id="selectMenu">
    <select onchange="window.location.href = this.value">
      <option value="earth.html">Dominant land use</option>
      <option value="earth2.html">Evaluated communes</option>
    </select>
  </div>
<!-- </div>
</section>
  <section>
  <form method="post" action="#">
  <div class="row uniform"> -->
  <div class="4u 12u$(small)">
    <input type="radio" id="demo-priority-low" name="demo-priority" value="grouped">
        <label for="demo-priority-low">Grouped</label>
  </div>
  <div class="4u 12u$(small)">
    <input type="radio" id="demo-priority-normal" name="demo-priority" value="stacked" checked>
    <label for="demo-priority-normal">Stacked</label>
  </div>
</div>
</form>
</section>


  <div id="stackedChart"></div>
</div>

<div id="word2">
<h2> What can we read from the graph?</h2>
<div class="row">
  <p>EMS-98 Damage classification diagram<br>
  <img src="images/EMS-98.png" alt="EMS-98" id="EMS-98">

   1) Classified by the dominant land use:<br>a. buildings on the agricultural land are damaged severely since all buildings left were classified in class 4 and class 5. <br>b. On agricultural, commercial land and in downtown, there were more damaged houses than houses in better condition. On residential land with high and low density and in shanty, the situation was better.<br><br>2) Classified by the evaulated communes:<br>a. In Port-au-Prince, Leogane, Carrefour and Delmas, the building damage condition was severe. This makes sense because those regions are close to the epicenter.<br>b. In general, buildings had poor construction practice. 
</p>
<br>
<br>
<h2>Source</h2><p><i>http://www.ibtimes.com/haitis-earthquake-destroyed-70-buildings-report-360983</i> <br><br><i>http://eqclearinghouse.org/co/20100112-haiti/wp-content/uploads/2010/02/PDNA_damage_assessment_report_v03-1.pdf</i>
<br>
<br>
<h2>Data</h2><p><i>http://unosat-maps.web.cern.ch/unosat-maps/HT/EQ20100114HTI/PDNA_HTI_EQ2010_BuildingDamagePosterA0_v1_HR.pdf</i></p>


</div>
</div>
  </div>
            </section>
          </article>








<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var count =-1;
var n = 5, // number of layers
    m = 7, // number of samples per layer
    stack = d3.layout.stack(),
    layers = stack(d3.range(n).map(function() { return bumpLayer(m, .1); })),
    yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); }),
    yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

    yStackMaxR = 166945;

    yGroupMaxR = d3.max(layers, function(layer) { return d3.max(layer, function(d) {return Math.exp(d.y); }); });

var margin = {top: 60, right: 10, bottom: 20, left: 40},
    width = 1000 - margin.left - margin.right,
    height = 550 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .domain(d3.range(m))
    .rangeRoundBands([0, width], .08);

var x_domain = [" ", " ", " ", " ", " ", " ", " "];
var xR = d3.scale.ordinal()
    .domain(x_domain)
    .rangeRoundBands([0, width], 0);

var y = d3.scale.linear()
    .domain([0, yStackMax])
    .range([height, 0]);

var yR = d3.scale.linear()
    .domain([0, yStackMaxR])
    .range([height, 0]);

var color = d3.scale.linear()
    .domain([0, n - 1])
    .range(["#aad", "#556"]);

console.log(color(0), color(1), color(2),color(3),color(4));    

var xAxis = d3.svg.axis()
    .scale(xR)
    .tickSize(0)
    .tickPadding(6)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(yR)
    .tickSize(1)
    .tickPadding(3)
    .orient("left");

var svg = d3.select("#stackedChart").append("svg")
    .attr("width", width + margin.left + margin.right+100)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var color_domain=["#aaaadd", "#9595bf", "#8080a2", "#6a6a84", "#555566"];

var legend = svg.selectAll("g.legend")
    .data(color_domain)
    .enter()
    .append("g")
    .attr("class", "legend");

var ls_w = 10, ls_h = 20;

legend.append("rect")
    .attr("x", 50 )
    .attr("y", function(d, i){
        return height - (i*ls_h) - 2*ls_h-330;
    })
    .attr("width", ls_w)
    .attr("height", ls_h)
    .attr("class", function(d, i){
        var i1 =4-i;
        return "q"+i1+"-8";
    });

legend.append("text")
            .attr("x", 65)
            .attr("y", function(d, i){
                return height - (i*ls_h) - 2*ls_h-315;
            })
            .text(function(d, i){

                return "Class" +(5-i)+"";
            })
            .attr("font-size", "10px");   

var layer = svg.selectAll(".layer")
    .data(layers)
  .enter().append("g")
    .attr("class", "layer")
    .style("fill", function(d, i) { return color(i); });

var rect = layer.selectAll("rect")
    .data(function(d) { return d; })
  .enter().append("rect")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", height)
    .attr("width", x.rangeBand())
    .attr("height", 0)
    .attr("transform", "translate(25,0)")
    .on("mouseover", function(d){
      d3.select(this).style("opacity", 0.8);
    })
    .on("mouseout", function(d){
      d3.select(this).style("opacity", 1);
    });

rect.transition()
    .delay(function(d, i) { return i * 10; })
    .attr("y", function(d) { return y(d.y0 + d.y); })
    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); });

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(25," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "yaxis")
    .attr("transform", "translate(30,0)")
    .call(yAxis);


svg.append("text")
    .attr("x", 70)
    .attr("y", height+20 )
    .text("Agricultural");
svg.append("text")
    .attr("x", 200)
    .attr("y", height+20 )
    .text("Commercial");
svg.append("text")
    .attr("x", 350)
    .attr("y", height+20 )
    .text("Downtown");
svg.append("text")
    .attr("x", 490)
    .attr("y", height+18 )
    .text("Industrial");
svg.append("text")
    .attr("x", 600)
    .attr("y", height+18 )
    .text("Residential high density");
svg.append("text")
    .attr("x", 740)
    .attr("y", height+18 )
    .text("Residential low density");
svg.append("text")
    .attr("x", 910)
    .attr("y", height+18 )
    .text("Shanty");


svg.append("text")
    .attr("x", -5)
    .attr("y", -10 )
    .text("total number of damaged houses");

svg.append("text")
    .attr("x", 45)
    .attr("y", 130 )
    .text("EMS-98 Damage Class");

d3.selectAll("input").on("change", change);

var timeout = setTimeout(function() {
  d3.select("input[value=\"grouped\"]").property("checked", true).each(change);
}, 2000);

function change() {
  clearTimeout(timeout);
  if (this.value === "grouped") transitionGrouped();
  else transitionStacked();
}

function transitionGrouped() {
  y.domain([0, yGroupMax]);
  yR.domain([0, yGroupMaxR]);


  svg.select(".yaxis")
  .transition().duration(1500)
    .call(yAxis); //////

  rect.transition()
      .duration(500)
      .delay(function(d, i) { return i * 10; })
      .attr("x", function(d, i, j) { return x(d.x) + x.rangeBand() / n * j; })
      .attr("width", x.rangeBand() / n)
    .transition()
      .attr("y", function(d) { return y(d.y); })
      .attr("height", function(d) { return height - y(d.y); });

}

function transitionStacked() {
  y.domain([0, yStackMax]);
   //console.log(yStackMaxR);
   

  rect.transition()
      .duration(500)
      .delay(function(d, i) { return i * 10; })
      .attr("y", function(d) { return y(d.y0 + d.y); })
      .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
    .transition()
      .attr("x", function(d) { return x(d.x); })
      .attr("width", x.rangeBand());
}

// Inspired by Lee Byron's test data generator.
function bumpLayer(n, o) {

  // function bump(a) {
  //   var x = 1 / (.1 + Math.random()),
  //       y = 2 * Math.random() - .5,
  //       z = 10 / (.1 + Math.random());
  //   for (var i = 0; i < n; i++) {
  //     var w = (i / n - y) * z;
  //     a[i] += x * Math.exp(-w * w);
  //   }
  // }

  // var a = [], i;
  // for (i = 0; i < n; ++i) a[i] = o + o * Math.random();
  // for (i = 0; i < 5; ++i) bump(a);

  a = [[1.000001, 637, 110, 129, 35452, 115191, 36719], [1.000001, 2336, 405, 471, 4003, 10017, 1165], [1.00001, 2230, 386, 449, 6290, 18365, 5829], [2008, 3258, 487, 535, 5884, 13947, 8381], [811, 2156, 451, 555, 4980, 9425, 6190]];

  // console.log("a:"+a);
  // return a.map(function(d, i) { console.log("d:"+d); return {x: i, y: Math.max(0, d)}; });
  count = count+1;
  return a[count].map(function(d, i) { return {x: i, y: Math.log(d)}; });
}

function dataLayer(){

  var agricultural = [0, 0, 0, 2008, 811];
  var commercial = [637, 2336, 2230, 3258, 2156];
  var downtown = [110, 405, 386, 487, 451];
  var industrial = [129, 471, 449, 535, 555];
  var residentialHighDensity = [35452, 4003, 6290, 5884, 4980];
  var residentialLowDensity = [115191, 10017, 18365, 13947, 9425];
  var shanty = [36719, 1165, 5829, 8381, 6190];



}

</script>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
    </body>
      </html>
