body {
    font-family: 'Roboto', sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis line {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis circle {
  fill: none;
  stroke: #777;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
